{% extends 'app/base.html' %}
{% load static %}
{% block title %} Contact{% endblock title %}

{% block main-content %}

<div class="row contactsec">
    
    <div class="col-md-4 col-12">
           <h3>ERP Workshop</h3>
           <p>Survey No. 301/3, 301/4 & 302,</p>
           <p>Opp. Bhavna Farm,</p>
           <p>Vadnagar Road, Vasodara Gram,</p>
           <p>Taluka, Sanand,</p>
           <p>Gujarat-382110</p>
           <p>Telephone</p>
           <p>+91 70696 31776</p>
           <p>+91 83207 75676</p>
           <p>contact@erpdesignstudio.com</p>
           
    </div>
    <div class="col-md-8 col-12 conimg">
        {% comment %} <img src="{% static 'app/images/contact.png' %}" alt="" srcset=""> {% endcomment %}
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3672.675561205348!2d72.33411041496734!3d22.99895498496497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjLCsDU5JzU2LjIiTiA3MsKwMjAnMTAuNyJF!5e0!3m2!1sen!2sin!4v1684487469705!5m2!1sen!2sin" width="800" height="490" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


{% endblock main-content %}