{% extends 'app/base.html' %}
{% load static %}
{% block title %}Products{% endblock title %}

{% block main-content %}

<div class="row productsec">
    <div class="col-md-4 col-sm-6 col-12 productmaindiv">
        <a href="{% url 'subproducts' 'console-table' %}">
            <img src="{% static 'app/images/consoles2.jpg' %}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{% static 'app/images/consoles1.jpg' %}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">console - table</figcaption>
        </a>
    </div>
    <div class="col-md-4 col-12 productmaindiv">
        <a href="{% url 'subproducts' 'bench' %}">
            <img src="{% static 'app/images/bench2.jpg' %}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{% static 'app/images/bench1.jpg' %}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">bench</figcaption>
        </a>
    </div>
    <div class="col-md-4 col-12 productmaindiv">
        <a href="{% url 'subproducts' 'dinning-table' %}">
            <img src="{% static 'app/images/dining2.jpg' %}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{% static 'app/images/dining1.jpg' %}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">dinning - table</figcaption>
        </a>
    </div>
</div>

<div class="row productsec">
    <div class="col-md-4 col-12 productmaindiv">
        <a href="{% url 'subproducts' 'side-table' %}">
            <img src="{% static 'app/images/sidetable2.jpg' %}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{% static 'app/images/sidetable1.jpg' %}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">side - table</figcaption>
        </a>
    </div>
    <div class="col-md-4 col-12 productmaindiv">
        <a href="{% url 'subproducts' 'coffee-table' %}">
            <img src="{% static 'app/images/centretable2.jpg' %}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{% static 'app/images/centretable1.jpg' %}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">coffee - table</figcaption>
        </a>
    </div>
    <div class="col-md-4 col-12 productmaindiv">
        <a href="{% url 'subproducts' 'pedestal-light' %}">
            <img src="{% static 'app/images/pedestallight2.jpg' %}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{% static 'app/images/pedestallight1.jpg' %}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">pedestal - light</figcaption>
        </a>
    </div>
</div>

{% endblock main-content %}