{% extends 'app/base.html' %}
{% load static %}
{% block title %} Products{% endblock title %}

{% block main-content %}

<div class="row subproductdisplay productsec">
    {% for i in product %}

    <div class="col-md-4 col-12 productmaindiv">
        <a href="{% url 'productdescription' i.id %}">
            <img src="{{i.imagebw1.url}}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{{i.imageclr2.url}}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">{{i.name}}</figcaption>
        </a>
    </div>

    {% comment %} <a href="{% url 'productdescription' i.id %}">
        <figure class="snip1256">
            <img src="{{i.imagebw1.url}}" class="proimgdiv showimagehidden" alt="" srcset="">
            <img src="{{i.imageclr2.url}}" class="proimgdiv hiddenimgshow" alt="" srcset="">
            <figcaption class="text-center">{{i.name}}</figcaption>
        </figure>        
    </a> {% endcomment %}
    
    {% endfor %}

{% endblock main-content %}