{% extends 'app/base.html' %}
{% load static %}
{% block title %} Projects{% endblock title %}

{% block main-content %}

<div class="row projectcategorydisplay">

        <div class="col-md-4 col-12 g-0 projectcategory">
            <a href="{% url 'projectimages' 'interiors' %}">
                <img src="{% static 'app/images/27.jpg' %}" class="showimagehidden" alt="" srcset="">
                <img src="{% static 'app/images/26.jpg' %}" class="hiddenimgshow" alt="" srcset="">
                <p class="text-center">interiors</p>
            </a>
        </div>

        <div class="col-md-4 col-12 g-0 projectcategory">
            <a href="{% url 'projectimages' 'furniture' %}">
                <img src="{% static 'app/images/29.jpg' %}" class="showimagehidden" alt="" srcset="">
                <img src="{% static 'app/images/28.jpg' %}" class="hiddenimgshow" alt="" srcset="">
                <p class="text-center">furniture</p>
            </a>
        </div>

        <div class="col-md-4 col-12 g-0 projectcategory">
            <a href="{% url 'projectimages' 'installation' %}">
                <img src="{% static 'app/images/31.jpg' %}" class="showimagehidden" alt="" srcset="">
                <img src="{% static 'app/images/30.jpg' %}" class="hiddenimgshow" alt="" srcset="">
                <p class="text-center">installation</p>
            </a>
        </div>

</div>
{% endblock main-content %}