{% extends 'app/base.html' %}
{% load static %}
{% block title %} Projects{% endblock title %}

{% block main-content %}

<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 0;
      }

    .image {
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;
    }

    .column:hover .hiddenimgshow {
        display: inline;
   }
    .column:hover .showimagehidden {
        display: none;
   }
      
</style>

<div class="row projectimagedisplay">

    {% comment %} {% for i in project %}
    <div class="gallery_product col-md-4 g-0 col-12">
        <a href="{{i.image.url}}" data-fancybox="gallery" data-caption="{{forloop.counter}}">
            <img class="img-responsive" alt="" src="{{i.image.url}}" />
          </a>
    </div>
    {% endfor %} {% endcomment %}

        {% for i in project %}
        <div class="column">
            <a href="{{i.image2.url}}" data-fancybox="gallery" data-caption="{{forloop.counter}}">
                {% comment %} <img alt="" class="image" src="{{i.image.url}}" /> {% endcomment %}
                <img src="{{i.image1.url}}" class="image showimagehidden" alt="" srcset="">
                <img src="{{i.image2.url}}" class="image hiddenimgshow" alt="" srcset="">
            </a>
        </div>
        {% endfor %}


</div>
{% endblock main-content %}